@import './base.css';

#app {
  margin: 0px;
  padding: 0px;
}

.green {
  background-color: #00bd7e;
}

.purple {
  color: #5157BF;
}

.border {
  border: 2px solid #DDDDDD
}

.gray {
  color: #707070;
}

.green-text {
  color: #31C452;
}

.blue-purp {
  color: #5157BF;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}